* text=auto

# Código: siempre LF
*.java  text eol=lf
*.py    text eol=lf
*.js    text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf

# Scripts de Windows: CRLF
*.cmd   text eol=crlf
*.bat   text eol=crlf
*.ps1   text eol=crlf
